*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contactMe-parent-container{
    height: 91vh;
    width: 100vw;
    overflow-y: scroll;
}
.darkMode{
    background-color: #101324;
    color: white;
}
.LightMode{
    background-color: #d2dafe;
    color: black;
}
.socialLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.heading{
    font-size: 80px;
    font-weight: 600;
    display: inline;
    text-decoration: underline;
}
.email{
    text-align: center;
    margin-top: 30px;
    font-size: larger;
    font-weight: 600;
}
.profileImage{
    border-radius: 40px;
    height: 60%;
}
.filter-invert{
    filter: invert();
}
.contactMeContainer{
    width: 85%;
    margin: auto;
    height: 90vh;
    display: flex;
}
.leftBox{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightBox{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.rightupBox{
    height: 40%;
    display: flex;
    align-items: end;
    justify-content: center;
}
.rightDownBox{
    height: 60%;
    width: 100%;
}
@media screen and (max-width:1000px) {
    .leftBox{
        display: none;
    }
    .rightBox{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .heading{
        font-size: 50px;
        font-weight: 600;
        display: inline;
        text-decoration: underline;
    }
}