*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.ParentContainerWhite{
    background-color: #d2dafe;
    width: 100vw;
    height: 100vh;
    color: black;
}
.ParentContainerBlack{
    background-color: #101324;
    width: 100vw;
    height: 100vh;
    color: rgb(255, 255, 255);
}
.home-custom-container{
    margin-left: 3%;
    width: 90%;
    padding-top: 20px;
    height: fit-content;
}
.CustomAboutWhite{
    padding-top: 30px;
    height: max-content;
    width: 100%;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: black;
}
.CustomAboutBlack{
    padding-top: 30px;
    height: max-content;
    width: 100%;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: white;
}
.CustomAboutWhite h3{
    font-size: 50px;
    font-weight: 700;
    font-family: "Playwrite DK Loopet", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
}
.CustomAboutBlack h3{
    font-size: 50px;
    font-weight: 700;
    font-family: "Playwrite DK Loopet", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}
.profilePhoto{
    width: 200px;
    height: 200px;
    border: 1px solid beige;
    border-radius: 100%;
    box-shadow: 2px 2px 10px 5px rgb(68, 61, 61);
}
.customBtn{
    width: max-content;
    padding: 10px;
}