.skill-parent-containerWhite{
    height: 91vh;
    width: 100vw;
    overflow-y: scroll;
}
.skill-parent-containerBlack{
    height: 91vh;
    width: 100vw;
    overflow-y: scroll;
}
.cardContainer{
    width: 80%;
    height: max-content;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cardBoxes{
    width: 45%;
    height: fit-content;
    margin: 10px;
    border-radius: 20px;
}
.cardBoxesBlack:hover{
    box-shadow: 5px 5px 10px rgb(118, 124, 216);
}
.cardBoxesWhite:hover{
    box-shadow: 5px 5px 30px black;
}
.customImage{
    height: 80px;
    margin: 10px;
}
@media screen and (max-width: 700px){
    .customImage{
        height: 50px;
        margin: 10px;
    }
    .cardBoxes{
        width: 100%;
        margin: 10px;
    }
}
.width-60{
    width: 60%;
}
.width-80{
    width: 80%;
}
.width-70{
    width: 70%;
}
.slideBar{
    width: 70%;
    margin: auto;
}
.nav-buttons{
    filter: invert();
}
.LeaderImage{
    height: 80vh;
    width: 100%;
}
.darkMode{
    background-color: #101324;
    color: white;
}
.LightMode{
    background-color: #d2dafe;
    color: black;
}
.customSoftSkillBox{
    border: 2px solid rgb(98, 98, 172);
    border-radius: 10px;
}